@charset 'UTF-8'
@import 'kouto-swiss'
@import 'rupture'

/* =============================================================================
   GENERAL
   ========================================================================== */
meyer-reset()
box-sizing-reset()
normalize()

@import 'common/settings'

html, body
    height 100%

body
    line-height 1.25
    
img
    max-width 100%

/* =============================================================================
   LAYOUT
   ========================================================================== */
#site
    align-items stretch
    display flex
    flex-direction column
    justify-content center
    min-height 100%