doctype html
html
  head
    meta(charset='utf-8')
    base(href='/')
    link(rel='icon', href='favicon.ico')
    title My Starter
  body
    #site
      .align-center
        h1 My Starter
        p Using Webpack, Stylus and Pug.